#pull-to-refresh-spinner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
    z-index: 10;
}

#pull-to-refresh-spinner.active {
    transform: translate(-50%, 0);
    opacity: 1;
}
